<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="flex flex-col min-h-screen">
    <!-- Replace with Header fragment -->
    <header th:replace="shared/header :: header">
    </header>

    <!-- Main Content -->
    <main class="flex-grow flex">
        <!-- Left Menu - Sidebar -->
        <aside th:replace="shared/sidebar :: sidebar">
        </aside>

        <!-- Main Content - Hien thi noi dung chinh -->
        <div class="main-content flex-grow p-4">
            <!-- Replace with Content fragment -->
            <div layout:fragment="content">
            </div>
        </div>
    </main>

    <!-- Replace with Footer fragment -->
    <footer th:replace="shared/footer :: footer">
    </footer>
</body>

</html>